# --- LaTeX ---
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.bbl
*.blg
*.bcf
*.run.xml

# --- Python ---
__pycache__/
*.py[cod]
src/pruebas.py

# --- macOS ---
.DS_Store